.increaseDecreaseButtons {
  display: flex;
  justify-content: space-between;
}

.inputContainer {
  margin-top: 5vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.resetButton {
  width: 50%;
  margin: 5vh auto;
}
.resetButton:hover {
  background-color: red;
  color: white;
}

.input {
  padding: 1vh 0;
}
